header {
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    margin: 10px;
    list-style: none;
}

.mainList {
    position: fixed;
    top: 0;
    z-index: 9999;
    background: white;
    width: 100%;
    padding: 0 10px;
}

.mainCenter {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.menuTablet {
    display: none;
}

.link {
    color:black;    
}
.link:hover {
    color: #bc2437;
    text-decoration: none;
}


.icons {
    display: flex;
}

.iconsCenter {
    margin: 30px 12px;
    
}

.iconsCenter i {
    border: 2px solid black;
    padding: 3px;
}

.iconsCenter i:hover {
    border: 2px solid #bc2437;
    padding: 3px;
}

.titelList {
    background-image: linear-gradient(to bottom, rgb(248, 180, 180) 18%,rgba(170, 167, 167, 0.87) 66%,rgba(146, 145, 145, 0) 100%), url(../img/bg.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.titelList {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.titel h1 {
    color: #ffffff;
    font-weight: bold;
    line-height: 36px;
    font-variant: small-caps;
    font-family: Lobster;
    font-size: 60px;
}

.titel h3 {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    font-variant: small-caps;
    margin: 10px
}

.titel a {
    text-decoration: none;
}

.button {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    font-variant: small-caps;
    text-align: center;
    margin: 20px;
    border: 4px solid red;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    display: none;
    z-index: 9999;
}

.modal:target {
    display: block;
    pointer-events: auto;

}

.popup {
    position: relative;
    width: 755px;
    height: 405px;
    margin: 10% auto;
    padding: 10px;
    background: rgb(253, 253, 253);

}

.close {
    width: 20px;
    height: 20px;
    color: #bc2437;
    position: absolute;
    font-size: 30px;
    top: 10px;
    right: 10px;
    display: block;
    text-decoration: none;
}

.textModal {
    color: #000000;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    font-variant: small-caps;
    text-align: center;
    margin: 10px 0 30px;

}

.textModal h4 {
    font-family: Lobster;
}

.rowInput {
    display: flex;
    margin: 40px 0;
}

.rowInput div {
    width: 50%;
}

.inputModal {
    width: 95%;
    background: rgb(255, 254, 254);
    margin: 10px 0;
    color: #5a5959;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
    
}

.inputModal:hover {
    border: 2px solid red;
}

.inputModal-Coment {
    width: 95%;
    height: 60%;
    background: rgb(255, 254, 254);
    margin: 10px 0;
    color: #5a5959;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
}

.buttonCenter {
    text-align: center;
    margin: 20px;
}

.buttonModal {
    border: none;
    background-color: #bc2437;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    font-variant: small-caps;
    padding: 5px 20px;
    border-radius: 5%;
}

.buttonModal:hover {
    padding: 6px 21px
}

/*  */

.mainText h2 {
    color: #000000;
    font-family: Lobster;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin: 30px
}

.mainText p {
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 30px 8%
}

.imgFirst {
    background: url(../img/1.png);
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;
    background-size: cover;
}

.customRow {
    margin: 0px
}

.marginMenu {
    margin-bottom: 15px
}

.centerRound {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.round {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.9;
    width: 210px;
    height: 200px;
    border-radius: 50%; 
}

.hoverRound {
    padding: 70px 60px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    font-variant: small-caps;
    text-align: center;
}

.hoverRound:hover {
    border: 2px solid red;
    border-radius: 50%;
    color: red;
}

/* footer */

.footer {
    margin: 30px 0;
    height: 246px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titelFooter {
    color: #ffffff;
    font-family: Lobster;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 10px
}

.footerText {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-variant: small-caps;
    text-align: center;
}

.iconsFooter {
    display: flex;
    justify-content: center;
}

.wIcons {
    border: 2px solid white;
    padding: 3px;
    margin: 0 5px
}
.colorIcons {
    color: white
}

/*  */

@media screen and (max-width: 900px) {
    .mainCenter {
        display: none;
    }

    .menuTablet {
        display: flex;
        align-items: center;
    }

    .rowInput {
        display: block;

    }
    .popup {
        width: 100%;
        height: 500px;
    }
    .rowInput div {
        width: 95%;
        margin: 0 2%;
    }
}